<BSModal @ref="@PreviewRef">
    <BSModalHeader OnClick="@(() => @PreviewRef.Hide())">Modal title</BSModalHeader>
    <BSModalBody><p>Modal body text goes here.</p></BSModalBody>
    <BSModalFooter>
        <BSButton Color="Color.Secondary" OnClick="@(() => @PreviewRef.Hide())">Close</BSButton>
        <BSButton Color="Color.Primary" OnClick="@(() => @PreviewRef.Hide())">Save Changes</BSButton>
    </BSModalFooter>
</BSModal>

@code {
    [Parameter] public BSModal PreviewRef { get; set; }
    [Parameter] public string ProjectId { get; set; }
}
